{% extends 'base.html' %} 

{% block content %} 
    <span class="navbar-text">
        <h1>Welcome, <strong class="light-accent">{{ user.username }}</strong></h1>
    </span>

    <p>Your Current Status: 
    <strong>
        {% if current_status == 'IN' %}
            Clocked In
        {% elif current_status == 'BREAK_START' %}
            On Break
        {% else %}
            Clocked Out
        {% endif %}
    </strong>
    </p>
    <p>Hours Worked Today: <strong class="light-accent">{{ hours_today }}</strong></p>
    <div class="clocking-buttons-wrapper">
    <form method="POST" action="{% url 'clock_action' %}">
        {% csrf_token %} 
        
        <button class="btn btn-primary" type="submit" name="action" value="IN" 
            {% if current_status != 'OUT' %}disabled{% endif %}> Clock In
        </button>

        <button class="btn btn-primary" type="submit" name="action" value="OUT"
            {% if current_status != 'IN' and current_status != 'BREAK_START' %}disabled{% endif %}> Clock Out
        </button>

        <button class="btn btn-primary" type="submit" name="action" value="BREAK_START"
            {% if current_status != 'IN' %}disabled{% endif %}>
            Start Break
        </button>

        <button class="btn btn-primary" type="submit" name="action" value="BREAK_END"
            {% if current_status != 'BREAK_START' %}disabled{% endif %}>
            End Break
        </button>
    </form>
    </div>
    <hr class = "hr-custom-width">
    <div class="mb-4">
    <h2>Today's Log</h2>
    </div>    
    {% if raw_logs_today %}
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in raw_logs_today %}
                <tr>
                    <td>{{ entry.user.username }}</td>
                    <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                    <td>
                        {% if entry.action_type == 'IN' %}Clock In
                        {% elif entry.action_type == 'OUT' %}Clock Out
                        {% elif entry.action_type == 'BREAK_START' %}Start Break
                        {% elif entry.action_type == 'BREAK_END' %}End Break
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No clocking activity recorded today.</p>
    {% endif %}

{% endblock content %}